#container {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    flex-direction: column;
    text-align: center;
    color: white;
}

.number-box {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}